
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@*<div class="admin-table">
    <div class="table__head-wrapper">
        <table class="table" cellpadding="0" cellspacing="0" border="0">
            <thead class="table__head">
                <tr class="table__tr">
                    <th class="table__th">Code</th>
                    <th class="table__th">Company</th>
                    <th class="table__th">Price</th>
                    <th class="table__th">Change</th>
                    <th class="table__th">Change %</th>
                </tr>
            </thead>
        </table>
    </div>

    <div class="table__body-wrapper">
        <table class="table body" cellpadding="0" cellspacing="0" border="0">

            <tbody class="table__body">
                <tr class="table__tr">
                    <td data-label="Code" class="table__td">AAC</td>
                    <td data-label="Company" class="table__td">AUSTRALIAN COMPANY </td>
                    <td data-label="Price" class="table__td">$1.38</td>
                    <td data-label="Change" class="table__td">+2.01</td>
                    <td data-label="Change %" class="table__td">-0.36%</td>
                </tr>
                <tr class="table__tr">
                    <td data-label="Code" class="table__td">AAC</td>
                    <td data-label="Company" class="table__td">AUSTRALIAN COMPANY </td>
                    <td data-label="Price" class="table__td">$1.38</td>
                    <td data-label="Change" class="table__td">+2.01</td>
                    <td data-label="Change %" class="table__td">-0.36%</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>*@
<div style="display: flex; align-items: center; height: 100vh;">
    <img src="~/Content/assets/img/logo.png" alt="" class="content__logo-center">
</div>

