
<div class="contact">
    <div class="grid wide">
        <div class="contact__inner">
            <ul class="contact__list" data-aos="fade-up">
                <li class="contact__item">
                    <img src="~/Content/assets/img/logo.png" alt="" class="contact__logo">
                </li>
                <li class="contact__item">
                    <div class="contact__item-image">
                        <i class="fa-solid fa-envelope-open-text"></i>
                    </div>
                    <div class="contact__item-info">
                        <div class="contact__item-heading">Email</div>
                        <div class="contact__item-text">cagiongcantho@gmail.com</div>
                    </div>

                </li>
                <li class="contact__item">
                    <div class="contact__item-image">
                        <i class="fa-solid fa-mobile"></i>
                    </div>
                    <div class="contact__item-info">
                        <div class="contact__item-heading">Call us</div>
                        <div class="contact__item-text">0379015044</div>
                    </div>
                </li>
                <li class="contact__item">
                    <div class="contact__item-image">
                        <i class="fa-solid fa-magnifying-glass-location"></i>
                    </div>
                    <div class="contact__item-info">
                        <div class="contact__item-heading">Location</div>
                        <div class="contact__item-text">3/2 P. Xuân Khánh, Q. Ninh Kiều, Cần Thơ</div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>


<footer class="footer">
    <div class="grid wide">
        <div class="footer__inner" data-aos="fade-up">
            <div class="footer__overview">
                <div class="footer__heading">Overview</div>
                <div class="footer__info">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto ratione
                    inventore consequatur ipsam! Culpa sequi quas fugit soluta adipisci nulla deserunt impedit
                    minima, odio repellendus autem quos dignissimos dolor commodi.
                </div>
                <div class="footer__socials">
                    <ul class="footer__socials-list">
                        <li class="footer__socials-item">
                            <a href="/" class="footer__socials-link">
                                <i class="fa-brands fa-google"></i>
                            </a>
                        </li>
                        <li class="footer__socials-item">
                            <a href="/" class="footer__socials-link">
                                <i class="fa-brands fa-facebook-f"></i>
                            </a>
                        </li>
                        <li class="footer__socials-item">
                            <a href="/" class="footer__socials-link">
                                <i class="fa-brands fa-instagram"></i>
                            </a>
                        </li>
                        <li class="footer__socials-item">
                            <a href="/" class="footer__socials-link">
                                <i class="fa-brands fa-twitter"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="footer__links">
                <div class="footer__heading">Quick Links</div>
                <ul class="footer__links-list">
                    <li class="footer__links-item">
                        <a href="/" class="footer__links-link">
                            About us
                        </a>
                    </li>
                    <li class="footer__links-item">
                        <a href="/" class="footer__links-link">
                            Fish type
                        </a>
                    </li>
                    <li class="footer__links-item">
                        <a href="/" class="footer__links-link">
                            All products
                        </a>
                    </li>
                    <li class="footer__links-item">
                        <a href="/" class="footer__links-link">
                            FAQ
                        </a>
                    </li>
                </ul>
            </div>
            <div class="footer__news">
                <div class="footer__heading">Newsletter</div>
                <div class="footer__info">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam,
                    voluptate.
                </div>
                <input type="text" class="footer__input" placeholder="Nhập email...">
                <button class="intro__btn intro__btn--primary mobile-button">
                    Explore <i class="fa-solid fa-arrow-right-long"></i>
                </button>
            </div>
        </div>
    </div>
</footer>
