
<script>
    $(document).ready(function () {


        @*$.ajax({
            type: 'GET',
            url: '/Cart/CartQuick',
            data: {},
            success: function (data) {
                console.log(data)
                $('#header-cart-list').html(data)
            }
        })*@


    });


</script>

<header class="header">
    <div class="header__top">
        <div class="grid wide">
            <div class="header__top">
                <div class="header__address">
                    <i class="fa-solid fa-location-dot header__address-icon"></i>
                    <span>Khu II, đường 3/2, P. Xuân Khánh, Q. Ninh Kiều, TP. Cần Thơ</span>
                </div>
                <div class="header__contact">
                    <i class="fa-solid fa-headphones-simple header__contact-icon"></i>
                    <span>cagiongcantho@gmail.com</span>
                </div>

            </div>
        </div>
    </div>
    <div class="header__main">
        <div class="grid wide">
            <div class="header__main-inner">
                <label for="menu-btn" class="mobile-icon open-icon hide-on-pc"><i class="fa-solid fa-bars"></i></label>
                <a href="/" class="header__logo" style="display: block">
                    <img src="~/Content/assets/img/logo.png" alt="Logo" class="header__logo-img">
                </a>
                <nav class="header__nav">
                    <ul class="header__nav-list">
                        <li class="header__nav-item">
                            <a href="/" class="header__nav-link">Trang chủ</a>
                        </li>
                        <li class="header__nav-item">
                            <a href="/Home/FishsByType" class="header__nav-link">Loại cá</a>
                        </li>
                        <li class="header__nav-item">
                            <a href="/Home/Contact" class="header__nav-link">Liên hệ</a>
                        </li>
                        @*<li class="header__nav-item">
                                <a href="" class="header__nav-link">Dịch vụ</a>
                            </li>*@
                        <li class="header__nav-item">
                            <a href="/" class="header__nav-link">Hướng dẫn</a>
                        </li>
                    </ul>
                </nav>
                <div class="header__tools">
                    <a href="/Home/SearchFish" class="header__tools-item">
                        <i class="fa-solid fa-magnifying-glass header__tools-icon"></i>
                    </a>
                    <a href="/Cart/CartDetail" class="header__tools-item" style="display: flex;">
                        <div id="Cart_Amount"></div>
                        <i class="fa-solid fa-cart-shopping header__tools-icon"></i>
                        <div class="header__cart-expand">
                            <ul id="header-cart-list" class="header__cart-list">
                            </ul>
                        </div>
                    </a>
                    @{
                        @*if (Session["userSession"] != null)
                            {
                                <div class="header__tools-item">
                                    <i class="fa-solid fa-user-large header__tools-icon"></i>
                                    <div class="header__user-expand">
                                        <p>Hello @Session["userSession"].ToString()</p>
                                        <a href="/Home/Logout">Đăng xuất</a>
                                    </div>
                                </div>
                            }*@
                        if (Session["username"] != null)
                        {
                            <div class="header__tools-item">
                                <i class="fa-solid fa-user-large header__tools-icon"></i>
                                <div class="header__user-expand">
                                    @*@Html.ActionLink("Hello " + Session["name"].ToString(), "Profile", new { username = Session["username"].ToString() })*@
                                    <a style="display: block" href="/Home/Profile?username=@Session["username"].ToString()"><i class="fa-solid fa-address-card" style="margin-right: 1rem;"></i>Hello @Session["name"].ToString()</a>

                                    @if (Session["role"] != null)
                                    {
                                        <a style="display: block" href="/Admin"><i class="fa-solid fa-gear" style="margin-right: 1rem;"></i>Trang quản lý</a>
                                    }
                                    else { }
                                    <a style="display: block" href="/Home/Logout"><i class="fa-solid fa-arrow-right-from-bracket" style="margin-right: 1rem;"></i>Đăng xuất</a>
                                    @*<a style="display: block" href="/Home/PaymentList"><i class="fa-solid fa-cart-arrow-down" style="margin-right: 1rem;"></i>Đơn hàng của tôi</a>*@
                                </div>
                            </div>
                        }

                        else
                        {
                            <a href="/Home/Login" class="header__tools-item">
                                <i class="fa-solid fa-user-large header__tools-icon"></i>

                            </a>
                        }
                    }

                </div>
            </div>
        </div>
    </div>
</header>


<input type="checkbox" name="menu-btn" id="menu-btn" hidden>
<div class="mobile-header">
    <label for="menu-btn" class="mobile-icon close-icon"><i class="fa-solid fa-xmark"></i></label>
    <ul class="mobile-nav">
        <li class="mobile-nav-item"><a href="/" class="mobile-nav-link">Trang chủ</a></li>
        <li class="mobile-nav-item"><a href="/" class="mobile-nav-link">Bảng giá</a></li>
        <li class="mobile-nav-item"><a href="/" class="mobile-nav-link">Đăng nhập</a></li>
    </ul>
</div>
