@{ ViewBag.Title = "Contact"; }

@{ ViewBag.Title = "FishsByType";
    Layout = "~/Views/Shared/_DefaultLayout.cshtml"; }

<div class="row grid wide">
    <div class="col-md-12" style="margin-top: 1.5rem;">
        <div class="mb-5">
            <div class="col-md-7">
                <div class="contact-wrap w-100 p-md-5 p-4">
                    <h3 class="mb-4">Nhập câu hỏi hoặc thắc mắc của bạn tại đây</h3>
                    <div id="form-message-warning" class="mb-4"></div>
                    <form method="POST" id="contactForm" name="contactForm" class="contactForm">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="label" for="name">Họ tên</label>
                                    <input type="text" class="form-control" name="name" id="name" placeholder="Name">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="label" for="email">Địa chỉ Email</label>
                                    <input type="email" class="form-control" name="email" id="email" placeholder="Email">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="label" for="subject">Chủ đề</label>
                                    <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="label" for="#">Tin nhắn</label>
                                    <textarea name="message" class="form-control" id="message" cols="30" rows="4" placeholder="Message"></textarea>
                                </div>
                            </div>
                            <div class="col-md-12 mt-4">
                                <div class="form-group">
                                    <input type="submit" value="Gửi tin nhắn" class="btn btn-primary">
                                    <div class="submitting"></div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-5 d-flex align-items-stretch">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3928.841518408643!2d105.7684266155998!3d10.029933692830683!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31a0895a51d60719%3A0x9d76b0035f6d53d0!2zxJDhuqFpIGjhu41jIEPhuqduIFRoxqE!5e0!3m2!1svi!2s!4v1639794765485!5m2!1svi!2s" width="550" height="500" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="dbox w-100 text-center">
                    <div class="text">
                        <p><i class="fa fa-map-marker"></i><span> Địa chỉ: </span> Khu II, Đ. 3/2, P. Xuân Khánh, Q. Ninh Kiều, Cần Thơ</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="dbox w-100 text-center">
                    <div class="text">
                        <p><i class="fa fa-phone"></i><span> Điện thoại:</span> <a href="tel://1234567920">+1 5555 55777 55</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="dbox w-100 text-center">
                    <div class="text">
                        <p><i class="fa fa-paper-plane"></i><span> Email:</span> <a href="mailto:cagiongcantho@gmail.com">cagiongcantho@gmail.com</a></p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
