@model IEnumerable<Nhom5TN230.ca_giong>

@{
    ViewBag.Title = "FishsByType";
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
}





<script>
    $.ajax({
        type: 'GET',
        url: '/Home/FishTypes',
        data: {},
        success: function (data) {
            $('#fish-type-list').html(data)
        }
    })
</script>

<div class="products" style="margin-top: 2rem">
    <div class="grid wide">
        <div class="products__inner">
            <div class="products__heading">Cá theo loại</div>
            <div class="products__sologan">Danh sách @ViewBag.displayName</div>
            <div id="fish-type-list" style="width:100%; display:flex; justify-content:flex-start">


            </div>
            <ul class="products__list row" data-aos="fade-up" data-aos-duration="1300">
                @foreach (var item in Model)
                {
                    <a href="/Home/DetailFish/@item.Ma" class="products__item col l-3 m-4 c-6" style="display: flex; text-decoration: none;">
                        <div class="products__image">
                            <img src="~/Content/assets/img/products/@item.hinh_anh.FirstOrDefault().Ten" alt="" class="products__img">
                            <div class="products__sale">-10%</div>
                        </div>
                        <span class="products__type">@item.loai_ca_giong.Ten</span>
                        <div class="products__name">@item.Ten</div>
                        <div class="product__price">@item.Gia đ</div>

                    </a>
                }



            </ul>
        </div>
    </div>
</div>
























